<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Properties -->
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n
        </Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE_NAME">automation</Property>
    </Properties>

    <!-- Appenders -->
    <Appenders>

        <!-- Console Logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Logger -->
        <RollingFile name="FileLogger"
                     fileName="${LOG_DIR}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <!-- Framework Logs -->
        <Logger name="com.yourcompany.framework" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Selenium Logs (Reduce Noise) -->
        <Logger name="org.openqa.selenium" level="warn" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Rest Assured Logs -->
        <Logger name="io.restassured" level="info" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>
